h1 {
    background-color: black;
    color: aqua;
    font-family: cursive;
    font-size: 4rem;
    max-width: 300px;
    text-align: center;
    padding: 25px;
}

.projects {
    font-size: 2rem;
    background-color: skyblue;
    color: coral;
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    padding: 15px;
}

#contact {
    text-align: right;
    background-color: crimson;
    color: azure;
    font-style: italic;
    text-decoration: underline;
    font-size: larger;
    padding: 10px;
}

#my {
    color: ghostwhite;
}